* {
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(44, 44, 44);
  outline: 2px solid black;
}

header {
  height: 20vh;
  font-size: 60px;
  text-align: center;
}

.loginForm {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 5% auto;
}

input {
  /* width: 90%; */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  margin: 2%;
}

input::placeholder {
  text-align: center;
}

#container {
  display: flex;
}

#savedSection {
  width: 30%;
  text-align: center;
  height: 80vh;
}
#mainSection {
  width: 70%;
}

#listContainer li:first-child {
  color: red;
  font-size: 20px;
  list-style-type: none;
}
