* {
  margin: 0px;
  box-sizing: border-box;
  background-color: #e2e1e1;
  /* outline: 2px solid black; */
}

header {
  height: 15vh;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
}

.loginForm {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 5% auto;
}

input {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #696767;
  border-radius: 4px;
}

#buttons {
  border: 2px solid black;
  width: 80%;
}
button {
  margin: 4px 10px;
  padding: 10px 20px;
  color: #fff;
  background-color: #5382b4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5382b4;
  transform: translateY(-2px);
}

select {
  margin: 4px 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: rgb(226, 225, 225);
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-size: 10px;
}

select:hover {
  border-color: #007bff;
  background-color: #e2e1e1;
}

input::placeholder {
  text-align: center;
}

#container {
  display: flex;
}

#savedSection {
  width: 30%;
  text-align: center;
  height: 80vh;
}
#mainSection {
  width: 70%;
}

#listContainer {
  /* border: 2px solid black; */
  width: 80%;
  margin-top: 5%;
}

#listContainer li:first-child {
  color: darkred;
  font-size: 20px;
  list-style-type: none;
  margin-top: 20px 0 0 20px;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  padding: 2px 5px;
}

#savedSection {
  /* border: 1px solid black; */
  margin-top: 15px;
}
